/*
    Asatru PHP - app cascading stylesheets file
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(50, 50, 50);
    overflow-x: hidden !important;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    overflow-x: hidden;
}

a {
    color:rgb(123, 169, 220);
}

a:hover {
    color:rgb(123, 169, 220);
}

strong {
    color: rgb(230, 230, 230);
}

.navbar {
    background-color: transparent;
    transition: .3s ease-in-out;
    @media screen and (min-width: 1087px) {
        padding: 15px;
    }
    @media screen and (max-width: 1087px) {
        padding: 5px;
    }
}

.navbar-no-transition {
    transition: unset;
}

.navbar-item-brand img {
    border-radius: 50%;
}

.navbar-item-brand.is-font-title {
    @media screen and (min-width: 1087px) {
        font-size: 1.4em;
    }
    @media screen and (max-width: 1087px) {
        font-size: 1.2em;
    }
}

.navbar-burger {
    @media screen and (max-width: 1087px) {
        top: 4px;
    }
}

.navbar-background-color {
    background-color: #3273dc !important;
}

.navbar-menu {
    @media screen and (max-width: 1089px) {
        background-color: #3273dc !important;
    }
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: rgba(255, 255, 255, 0.0) !important;
    color: rgb(250, 250, 250) !important;
}

.navbar-item, .navbar-burger, .navbar-link {
    color: rgb(230, 230, 230);
}

.navbar-item-padding {
    @media screen and (min-width: 1087px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar-dropdown {
    background-color: rgb(50, 50, 50);
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgba(0, 0, 0, 0.0);
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: rgb(50, 50, 50);
    }
}

a.navbar-burger:hover {
    color: rgb(200, 200, 200);
}

.navbar-start {
    @media screen and (min-width: 1088px) {
        flex-grow: 1;
        justify-content: center;
    }
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(to bottom, rgb(30, 30, 30) 90%, rgba(30, 30, 30, 0) 100%);
}

.header-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-content {
    position: relative;
    top: 50%;
    transform: translate(-0%, -50%);
    text-align: center;
    padding: 20px;
}

.header-content h1 {
    color: #fff5a4;
    font-size: 10.0em;
    @media screen and (max-width: 768px) {
        font-size: 5.0em;
    }
    @media screen and (max-width: 432px) {
        font-size: 4.0em;
    }
    text-shadow: 0 0 5px #3ebbd5, 0 0 10px #3ebbd5, 0 0 20px #3ebbd5, 0 0 40px #3ebbd5, 0 0 80px #3ebbd5;
    margin-bottom: 35px;
}

.header-buttons div {
    display: inline-block;
    width: 45%;
    @media screen and (min-width: 1089px) {
        width: 12%;
    }
    margin-left: 3px;
    margin-right: 3px;
}

.header-content a {
    width: 100%;
}

.header-badges {
    margin-bottom: 50px;
}

.header-badges img {
    margin-left: 3px;
    margin-right: 3px;
}

.content {
    position: relative;
    top: -20px;
    text-align: center;
    padding: 20px;
    color: rgb(200, 200, 200);
}

.content h2 {
    font-size: 2.5em;
    color: rgb(250, 250, 250);
    margin-bottom: 20px;
}

.content h3 {
    font-size: 2.0em;
    color: rgb(250, 250, 250);
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}

.content hr {
    background-color: rgb(240, 240, 240);
    height: 1px;
    margin-top: 60px;
    margin-bottom: 35px;
}

.content pre {
    color: rgb(250, 250, 250);
    background-color: #3b4e60;
    border-left: 2px solid #959cc2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

pre code.hljs {
    background-color: #3b4e60;
    color: rgb(230, 230, 230);
}

.hljs-comment {
    color: rgb(136, 228, 148) !important;
}

.hljs-keyword {
    color: #44d8f0 !important;
}

.hljs-string {
    color: #c2d9f5 !important;
}

.hljs-literal {
    color: #2e8fff !important;
}

.hljs-title {
    color: #a675ff !important
}

.image-showcase {
    position: relative;
    width: 100%;
    margin-top: 55px;
    margin-bottom: 10px;
}

.image-showcase-item {
    position: relative;
    display: inline-block;
    width: 30%;
    @media screen and (max-width: 768px) {
        width: 93%;
    }
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: left;
}

.image-showcase-item h3 {
    font-size: 1.2em;
}

.image-showcase-item img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.image-showcase-item img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.feature-cards {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.feature-cards-block {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.feature-cards-block-fix {
    margin-left: 1px;
}

.feature-card {
    position: relative;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    @media screen and (max-width: 768px) {
        font-size: 1.0em;
    }
    color: #a2b4f9;
}

.feature-card i {
    color: #d0c736;
}

.other-downloads {
    margin-top: 50px;
}

.other-downloads div.info-list {
    padding-left: 10px;
    padding-right: 10px;
}

.other-downloads div.info-list-header-title {
    font-size: 1.2em !important;
}

.doc-buttons {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.doc-copy-link {
    position: relative;
    margin-bottom: 25px;
}

.doc-copy-link i {
    color: #91a7df;
}

.doc-copy-link a {
    color: #91a7df;
}

.doc-copy-link a:hover {
    color: #91a7df;
    text-decoration: underline;
}

#documentation-aquashell code:not(.hljs) {
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
}

.info-list {
    position: relative;
}

.info-list-item {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.info-list-header {
    margin-bottom: 10px;
}

.info-list-header-title {
    display: inline-block;
    font-size: 1.5em;
    color: rgb(200, 200, 200);
}

.info-list-header-button {
    display: inline-block;
    float: right;
}

.info-list-content {
    color: rgb(150, 150, 150);
}

.extension-list {
    position: relative;
    margin-top: 30px;
}

.extension-list div.info-list {
    padding-left: 10px;
    padding-right: 10px;
}

.showcase-section {
    position: relative;
}

.showcase-section p {
    color: rgb(250, 250, 250);
    font-size: 2.3em !important;
    margin-bottom: 59px !important;
}

.showcase-section a {
    color: rgb(200, 200, 200);
}

.showcase-section a:hover {
    color: rgb(50, 92, 123);
    text-decoration: none;
}

.showcase-item {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    @media screen and (max-width: 500px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.showcase-item-logo {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
}

.showcase-item-logo img {
    width: 64px;
    height: 64px;
}

.showcase-item-name {
    position: relative;
    display: inline-block;
    top: -20px;
    margin-left: 10px;
    font-size: 2.0em;
    @media screen and (max-width: 500px) {
        font-size: 1.5em;
    }
}

.sponsoring {
    margin-top: 25px;
}

.snippets-categories {
    position: relative;
}

.snippets-category {
    position: relative;
    display: inline-block;
    min-width: 340px;
    @media screen and (max-width: 400px) {
        min-width: 315px;
    }
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: rgb(79, 150, 190);
    color: rgb(250, 250, 250);
    border-radius: 5px;
}

.snippets-category:hover {
    background-color: rgb(101, 165, 202);
}

.snippets-category-icon {
    position: relative;
    display: inline-block;
    min-width: 123px;
    text-align: center;
    background-color: rgb(55, 111, 145);
    padding: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.snippets-category-info {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    top: -3px;
    padding: 20px;
}

.snippets-category-info-name {
    position: relative;
    font-size: 1.5em;
    @media screen and (max-width: 400px) {
        font-size: 1.2em;
    }
}

.snippets-category-info-count {
    position: relative;
    font-size: 1.0em;
    font-style: italic;
}

.tutorials iframe {
    height: 352px !important;
}

.code-authentication {
    position: relative;
    margin-bottom: 10px;
}

.code-authentication input {
    background-color: rgba(0, 0, 0, 0.1);
}

.code-editor {
    position: relative;
}

.code-editor pre {
    height: 350px;
}

#code-editing, #code-highlighting-content {
    position: absolute;
    width: calc(100% - 32px);
    height: 95%;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    border: 0;
    overflow: auto;
}

#code-editing, #code-highlighting-content, #code-highlighting-content * {
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
    tab-size: 4;
}

#code-editing {
    height: 95%;
    z-index: 1;
    resize: none;
    color: transparent;
    background: transparent;
    caret-color: rgb(255, 255, 255);
}

#code-highlighting-content {
    z-index: 0;
}

.code-response {
    position: relative;
    margin-top: 10px;
}

.code-response textarea {
    background: rgb(155, 190, 235);
    resize: none;
}

.code-response textarea.is-exception {
    color: rgb(255, 0, 0);
}

.code-actions {
    position: relative;
    margin-top: 10px;
}

.code-actions i {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
}

.footer {
    width: 100%;
    color: rgb(230, 230, 230);
    background-color: rgb(34, 96, 146);
    padding: 1rem 1.5rem 1rem;
}

.footer-frame {
    width: 100%;
}

.footer-content {
    text-align: center;
}

.footer-content a {
    color: rgb(165, 192, 255);
}

.footer-content a:hover {
    color: rgb(165, 192, 255);
    text-decoration: underline;
}

.scroll-to-top {
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: 12px;
}

.scroll-to-top-inner {
    background-color: rgb(5, 100, 135);
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scroll-to-top-inner a {
    color: rgb(200, 200, 200);
}

.scroll-to-top-inner a:hover {
    color: rgb(230, 230, 230);
}

.is-vertical-margin {
    margin-top: 40px;
    margin-bottom: 40px;
}

.is-font-title {
    font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.is-font-headline {
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
}

.is-pointer {
    cursor: pointer;
}

.is-font-medium {
    font-size: 1.3em;
    color: rgb(200, 200, 200);
}

.is-font-medium strong {
    color: rgb(100, 100, 100);
}

.margin-fix {
    margin-top: 83px;
    @media screen and (min-width: 1089px) {
        margin-top: 150px;
    }
}

.is-left-aligned {
    text-align: left;
}

.is-not-clickable {
    cursor: unset !important;
    min-width: 143px;
}