/*
    Asatru PHP - app cascading stylesheets file
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(172, 215, 245);
    overflow-x: hidden !important;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    overflow-x: hidden;
}

a {
    color:rgb(34, 95, 145);
}

a:hover {
    color:rgb(34, 95, 145);
}

.navbar-item img {
    max-height: unset !important;
}

.navbar-brand img {
    width: 42px;
    height: 42px;
}

.navbar-menu {
    background-color: #3273dc;
}

.navbar-item {
    color: rgb(255, 255, 255) !important;
}

.navbar-item:hover {
    @media screen and (max-width: 1098px) {
        background-color: unset !important;
    }
}

.header {
    position: relative;
    width: 100%;
    height: 453px;
    top: -52px;
    margin-top: 52px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-content {
    position: relative;
    top: 50%;
    transform: translate(-0%, -50%);
    text-align: center;
    padding: 20px;
}

.header-content h1 {
    color: rgb(230, 230, 230);
    font-size: 2.5em;
}

.header-content h2 {
    color: rgb(220, 220, 220);
    font-size: 1.5em;
    margin-bottom: 20px;
}

.header-buttons div {
    display: inline-block;
    width: 45%;
    @media screen and (min-width: 1089px) {
        width: 12%;
    }
    margin-left: 3px;
    margin-right: 3px;
}

.header-content a {
    width: 100%;
}

.header-badges {
    margin-bottom: 25px;
}

.header-badges img {
    margin-left: 3px;
    margin-right: 3px;
}

.content {
    position: relative;
    top: -20px;
    text-align: center;
    padding: 20px;
    color: rgb(50, 50, 50);
}

.content h2 {
    font-size: 2.5em;
    color: rgb(50, 50, 50);
    margin-bottom: 20px;
}

.content h3 {
    font-size: 2.0em;
    color: rgb(50, 50, 50);
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}

.content hr {
    background-color: rgb(240, 240, 240);
    height: 1px;
    margin-top: 60px;
    margin-bottom: 35px;
}

.content pre {
    color: rgb(250, 250, 250);
    background-color: rgb(90, 165, 235);
    border-left: 2px solid rgb(67, 85, 179);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.image-showcase {
    position: relative;
    width: 100%;
    margin-top: 55px;
    margin-bottom: 10px;
}

.image-showcase-item {
    position: relative;
    display: inline-block;
    width: 30%;
    @media screen and (max-width: 768px) {
        width: 93%;
    }
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: left;
}

.image-showcase-item h3 {
    font-size: 1.2em;
}

.image-showcase-item img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.image-showcase-item img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.feature-cards {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.feature-cards-block {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.feature-cards-block-fix {
    margin-left: 12px;
}

.feature-card {
    position: relative;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    @media screen and (max-width: 768px) {
        font-size: 1.0em;
    }
    color: rgb(35, 55, 132);
}

.feature-card i {
    color: rgb(55, 190, 203);
}

.other-downloads {
    @media screen and (max-width: 768px) {
        position: relative;
        left: -12px;
    }
}

.doc-buttons {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.sponsoring {
    margin-top: 25px;
}

.footer {
    width: 100%;
    color: rgb(230, 230, 230);
    background-color: rgb(34, 96, 146);
    padding: 1rem 1.5rem 1rem;
}

.footer-frame {
    width: 100%;
}

.footer-content {
    text-align: center;
}

.scroll-to-top {
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: 12px;
}

.scroll-to-top-inner {
    background-color: rgb(5, 100, 135);
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scroll-to-top-inner a {
    color: rgb(200, 200, 200);
}

.scroll-to-top-inner a:hover {
    color: rgb(230, 230, 230);
}

.is-vertical-margin {
    margin-top: 40px;
    margin-bottom: 40px;
}

.is-font-title {
    font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.is-font-headline {
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
}

.is-pointer {
    cursor: pointer;
}

.is-font-medium {
    font-size: 1.3em;
    color: rgb(50, 50, 50);
}

.is-font-medium strong {
    color: rgb(100, 100, 100);
}

.margin-fix {
    margin-top: 50px;
    @media screen and (min-width: 1089px) {
        margin-top: 120px;
    }
}

.is-left-aligned {
    text-align: left;
}

.is-not-clickable {
    cursor: unset !important;
    min-width: 143px;
}